<nav class="navbar navbar-dark bg-dark mb-5">
		
		<div class="navbar-expand mr-auto">
			<a class="navbar-brand" routerLink="/">Manoj H Verma</a>	
			<div class="navbar-nav">	

				<a href="https://linkedin.com/in/manoj-verma-43035361/" class="nav-item btn-social btn-outline">
					<i class="fa  fa-fw fa-linkedin"></i>
				</a>
				<a class="nav-item btn-social btn-outline" href="https://github.com/Mhverma/" target="_blank">
					<i class="fa fa-fw fa-github"></i>
				</a>
			</div>
		</div>
		<div class="nav navbar-expand ml-auto">

			<div class="navbar-nav">
				<a class="nav-item nav-link " [routerLink]="['aboutme']">About Me</a>
				<a class="nav-item nav-link" [routerLink]="['projects']">Projects</a>
				<a class="nav-item nav-link" [routerLink]="['contact']">Contact</a>
			</div>
		</div>
</nav>