<mat-card class="aboutme">
	<mat-card-content>
		<mat-card-header>
			<img mat-card-avatar src="/../assets/img/me.JPG" alt="">
			<mat-card-title>Manoj Verma</mat-card-title>
			<mat-card-subtitle>Software Engineer</mat-card-subtitle>
		</mat-card-header>
		<div class="intro-text">
			<p><Strong class="welcome">W</Strong>elcome, my name is Manoj Verma. I am software developer from Mumbai
				India who
				loves to write software to build great products and help business with their goals. </p>

			<p>
				I have been working professionally since 2013 in IT industry as web and Java application developer with
				experience across the finance, telecom domain.I have expertise in business driven development(BDD), Test
				driven
				development (TDD), object oriented analysis and coding by overseeing all facts of software development
				cycle.I
				have rich experience of working in a cross functional, collebrative and self organised Agiles teams
				following
				scrum framwork.
			</p>

			<p>
				Shortly after finishing my engineering in computer science from <strong>Nagpur University</strong> in
				2013, I
				joind as Trainee Engineer at <strong>Infosys Ltd</strong> where I get to work on varity of projects and
				improve
				my software development skills on daily basis.
			</p>
		</div>
	</mat-card-content>
</mat-card>