<div class ="container"
	fxLayout="row wrap"
	fxLayout.xs="column"
	fxLayoutAlign="center"
	fxLayoutGap="10px"
    fxLayoutGap.xs="0">

   <div class="item header" fxFlex="100%">
	   	<mat-card class="aboutme-header-card">
			<img mat-card-avatar src="/../assets/img/me.JPG" alt="">
			<mat-card-content>
				<div class="intro-text">
					<span class="name">Manoj H Verma</span>
					<hr>
					<span class="skills">Software Engineer - Web & Java Application Developer, Mumbai,  India</span>
				</div>
			</mat-card-content>

		</mat-card>
   </div>
	  
</div>

<br>

<div class ="container"
	fxLayout="row wrap"
	fxLayout.xs="column"
	fxLayoutAlign="center"
	fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <!--  <div class="item header" fxFlex="60%" style="background-color: white">
	   <app-post-list></app-post-list>
   </div> -->

    <div class="item header" fxFlex="100%" style="background-color: white">
		<app-skillset></app-skillset>
   </div>
	  
</div>






			
		

