.aboutme-header-card {
	max-width: 100%;
	text-align: center;
	color: #18bc9c;
	background: #fff;
}
.w3-content{
	max-width: 90%;
}
.avatar {
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
	align-self: center;
	margin-left: 25%;
  width: 50%;
  height: 50%;
	border-radius: 50%;
	border-style: solid;
	border-color: #18bc9c;
	border-image-outset: all;
	object-fit: cover;
}
.aboutme-header-card  .mat-card-avatar {
	height: 25%;
	width: 25%;
	border-radius: 50%;
	flex-shrink: 0;
	border-style: solid;
	border-color: #18bc9c;
	border-image-outset: all;
	object-fit: cover;
}

.aboutme-header-card .mat-card-content{
	margin-top: 25px;
}


.intro-text .name {
	display: block;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 2.2em;
	font-weight: 700;
}

.intro-text .skills {
	font-size: 1.2em;

}


.aboutme-content-card h2{
	margin: 0;
	text-align: center;
  font-size: 2em;
}

--------------------------------------
 .container  {
    background:  #77a6ee;
    color: #fff !important;
    margin-top: 20px;
  }

p{
	display: block;
	font-weight: 400;
	text-align: justify;
	font-size: 1em;
}
-------------------
.title-margin{
	 background-image: url(/../../assets/icon/title-border.png) repeat scroll 0 0 transparnt;
	 
}

.title-block {
    background: #77a6ee;
}
